<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.2" package="com.dynamensions.coronaviruslive" android:installLocation="auto">
  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
  <application android:label="CoronaVirusLive.Android" android:icon="@drawable/coronavirus">
    <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyD17n7qjmwj0ZLearxlWBi91PfxSCdR7jc" />
  </application>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <!-- Google Maps for Android v2 requires OpenGL ES v2 -->
  <uses-feature android:glEsVersion="0x00020000" android:required="true" />
  <!-- Google Maps for Android v2 will cache map tiles on external storage -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <!-- Allow the application to access Google web-based services. -->
  <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
  <!-- Notice here that we have the package name of our application as a prefix on the permissions. -->
  <uses-permission android:name="your.package.name.permission.MAPS_RECEIVE" />
  <permission android:name="your.package.name.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
</manifest>