<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="5" android:versionName="1.1" package="com.dynamensions.coronaviruslive" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="CoronaVirusLive.Android" android:icon="@drawable/coronavirus">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyD17n7qjmwj0ZLearxlWBi91PfxSCdR7jc" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>